<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bob's Burgers</h1>
        <p class="lead text-muted">It's a television show. This app contains data for hundreds of characters, episodes, running gags, and images from the show.</p>
        <p class="">
          <a routerLink="/characters" class="btn btn-dark my-2 mx-2">Characters List</a>
          <a href="#" class="btn btn-dark my-2 mx-2 disabled">Episodes List</a>
        </p>
      </div>
    </div>
</section>