<div class="d-flex flex-column min-vh-100">

  <app-header></app-header>

  <main class="d-flex flex-nowrap">
    <app-sidebar></app-sidebar>
    <div class="b-example-divider"></div>

    <div class="container scroll mt-3">
      
    
      <router-outlet></router-outlet>
      <!-- <h3>Hi</h3> 
      {{title}}
      
      <h5>Character list</h5>
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4">
        <ul *ngFor="let ch of bobCharacter">
          <li>{{ch.name}}</li>
        </ul>
      </div> -->
    </div>

 
  </main>

  <app-footer class="mt-auto"></app-footer>

</div>