 
  
  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .nav-flush .nav-link {
    border-radius: 0;
    color: black;
  }

  /*code to change background color*/
  .nav-link>.active>a{
    background-color: #C0C0C0;
}